<!doctype html>  
{%block content %}
{% load static %}
<html lang="en">  
  <head>  
    <!-- Required meta tags -->  
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
 
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <title>StudyBuddy - Find study partners around the world!</title>
  
    <!-- Bootstrap CSS -->  
  </head>  
  <body>  
 
  {% include 'navbar.html' %}
    <div>
      
      {%if messages %}
       <ul class="messages">
           {% for message in messages %}
           <li>
               {{message}} 
           </li>
           
       {%endfor%}
       </ul>
       {%endif%}
     </div> 
    {% endblock content %}  
  </body>  
</html>  